<!DOCTYPE html>
<html>
    
<body>
<h1 style="text-align: center; font-size: xx-large; font-weight: bolder;">Campus programs</h1>
<div class="grid-container" id="campus">
<div class="grid-item" >
    <h4>Deep Learning</h4>
    <img src="../../assets/deep.jpg" height="200px"  ><br>
    <i style="font-size: medium; font-weight: 200;">Course fee: Rs.3000</i>
    <br>
    <i style="font-size: medium;">Starts from 03-11-2021</i>
    <br>
</div>
<div class="grid-item">
    <h4>Web development</h4>
    <img src="../../assets/web-development.jpg" height="200px" width=360px  ><br>
    <i style="font-size: medium; font-weight: 200;">Course fee: rs.3000</i>
    <br>
    <i style="font-size: medium; font-weight: 200;">Starts from 05-11-2021</i>
    <br>
</div>
<div class="grid-item">
    <h4>Data structure and algorithm</h4>
    <img src="../../assets/data.png" height="200px" width="360px" ><br>
    <i style="font-size: medium; font-weight: 200;">Course fee: Rs.2000</i>
    <br>
    <i style="font-size: medium; font-weight: 200;">Starts from 02-11-2021</i>
    <br>
</div>
<div class="grid-item">
    <h4>Machine Learning</h4>
    <img src="../../assets/machine.jpeg" height="200px" width="360px" ><br>
    <i style="font-size: medium; font-weight: 200;">Course fee: Rs.4000</i>
    <br>
    <i style="font-size: medium; font-weight: 200;">Starts from 07-11-2021</i>
    <br>
</div>
<div class="grid-item">
    <h4>Verilog basics</h4>
    <img src="../../assets/verilog.jpg" height="200px" width="360px" ><br>
    <i style="font-size: medium; font-weight: 200;">Course fee: Rs.8000(including kit)</i>
    <br>
    <i style="font-size: medium; font-weight: 200;">Starts from 09-11-2021</i>
    <br>
    <b style="font-size: medium; font-weight: 200;">Register before 2-11-2021</b>
</div>
<div class="grid-item">
    <h4>Pic microcontroller basics</h4>
    <img src="../../assets/pic.jpg" height="200px"  ><br>
    <i style="font-size: medium; font-weight: 200;">Course fee: Rs.9000(including kit)</i>
    <br>
    <i style="font-size: medium; font-weight: 200;">Starts from 09-11-2021</i>
    <br>
    <b style="font-size: medium; font-weight: 200;">Register before 2-11-2021</b>
</div>

</div>
<br><br>
<h1 style="font-weight: bolder; font-size: xx-large; text-align: center;">Online Programs</h1>
<div class="grid-container1" id="onlineToggle" >

    
    <div class="grid-item1">
    <h3>Python for everybody</h3>
    <img src="../../assets/python.jpg " height="200px" width="360px"  alt="" height="250px" width="300px"><br>
    <i style="font-size: Large; font-weight: 200;">course fee: Rs.3000</i>
    <br>
    <i style="font-size: large; font-weight: 200;">Starts from 03-11-2021</i>
    <br>
    </div>
    
    
    
    <div class="grid-item1">
    <h3> Learn Angular</h3>
    <img src="../../assets/angular.png" height="200px" width="360px"  alt="" height="250px" width="300px"><br>
    <i style="font-size: large; font-weight: 200;">course fee: rs.3000</i>
    <br>
    <i style="font-size: large; font-weight: 200;">Starts from 05-11-2021</i>
    <br>
    </div>
    
    
    
    <div class="grid-item1">
    <h3>Java Full Stack development</h3>
    <img src="../../assets/java.jpg" height="200px" width="360px"  alt="" height="250px" width="300px"><br>
    <i style="font-size: large; font-weight: 200;">course fee: Rs.2000</i>
    <br>
    <i style="font-size: large; font-weight: 200;">Starts from 02-11-2021</i>
    <br>
    </div>
    
    
    
    <div class="grid-item1">
    <h3>Digital Marketing</h3>
    <img src="../../assets/digi.png" height="200px" width="360px" alt="" height="250px" width="300px"><br>
    <i style="font-size: large; font-weight: 200;">course fee: Rs.4000</i>
    <br>
    <i style="font-size: large; font-weight: 200;">Starts from 07-11-2021</i>
    <br>
    </div>
    
    
    
    <div class="grid-item1">
    <h3>Django for professionals</h3>
    <img src="../../assets/django.jpg" height="200px" width="360px"  alt="" height="250px" width="300px"><br>
    <i style="font-size: large; font-weight: 200;">course fee: Rs.8000</i>
    <br>
    <i style="font-size: large; font-weight: 200;">Starts from 09-11-2021</i>
    <br>
    <p style="font-size: large; font-weight: 200;">Register before 2-11-2021</p>
    </div>
    
    
    
    <div class="grid-item1">
    <h3 >Content writing for beginners</h3>
    <img src="../../assets/Content.jpg" height="200px" width="360px" alt="" height="250px" width="300px"><br>
    <i style="font-size: large; font-weight: 200;">course fee: Rs.1000(including materials)</i>
    <br>
    <i style="font-size: large; font-weight: 200;">Starts from 09-11-2021</i>
    <br>
    <p style="font-size: large; font-weight: 200;">Register before 2-11-2021</p>
    </div>
    
    </div>
    
    
    
    
    
    
    


</body>
</html>
