
<div class="base">
    <h1>Faculty</h1>
    
    <table style="width: 100%;">
    <tr>
    <td>
    <button type="button" name="btn1" id="btn1" (click)="display('btn1')"><img src="../assets/deeksha.jpg">
    <br>
    <span>Dr. Deeksha</span></button>
    </td>
    <td>
    <button type="button" name="btn2" id="btn2" (click)="display('btn2')"><img src="../assets/lalita.jpg">
    <br>
    <span>Prof. Lalita</span></button>
    </td>
    <td><button type="button" name="btn3" id="btn3" (click)="display('btn3')"><img src="../assets/krishna.jpg">
    <br>
    <span>Prof. Krishna</span></button></td>
    <td><button type="button" name="btn4" id="btn4" (click)="display('btn4')"><img src="../assets/chinmay.jpg">
    <br>
    <span>Prof. Chinmay</span></button></td>
    <td><button type="button" name="btn5" id="btn5" (click)="display('btn5')"><img src="../assets/a.jpg">
    <br>
    <span>Prof. A</span></button></td>
    </tr>
    </table>
    </div>
    <div>
        <h3>{{desc}}<br>{{designation}}</h3>
        <hr>
        <span class='a'>{{qualification}}</span><hr>
        <span class='b'><br>{{experience}}</span><hr>
        </div>
        <br>
